@import 'tailwindcss';


@font-face {
    font-family: "Kumbh";
    font-style: normal;
    font-weight: normal;
    src: url(https://galatea.ane.jp.net/dl/fonts/kumbh_sans.ttf) format('truetype');

}

@theme {
    --default-font-family: "Kumbh", var(--font-sans);
    --font-kumbh: "Kumbh", "sans-serif";
}