# here's my option.. huge fucking hack
# please, please for the love of god build libvips later, this is unnacceptable in production.

# i'm not doing any pushes into production until i fix this.
#engine-strict=true
